<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <title></title>
  </head>
  <body>
      cool stuff not spam mk3
      <%= link_to "Pay me now", new_iou_charge_url(@iou)%>
  </body>
</html>
