<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <title></title>
  </head>
  <body>
    <%= link_to "PAY ME NOW", new_iou_charge_url(@iou)%>
    <p> YOURS SINCERELY!!!! </p>
    <%= @user.username %>
  </body>
</html>
