<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <title></title>
  </head>
  <body>
      !!!WHERE's MY MONEY!!!
      <%= link_to "PAY ME NOW", edit_iou_url(@iou)%>
      <p> YOURS SINCERELY!!!! </p>
      <%= @user.username %>
  </body>
</html>
