// Place all the styles related to the ious controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#form-box {
  padding: 40px 22px 22px 22px;
    background-color: white;
    box-shadow: 0px 0px 3px grey;
}
