<br>
<br>

<div class="container" id="pending-uois">

<% if current_user %>
  <ul>
    <% if @ious.any? %>
      <% @ious.each do |iou| %>
       <li>
        <%= iou.title %>
        <%= iou.name %>
        <%= iou.amount %>
      </li>
    <% else %>
      NO IOUS!
    <% end %>
  </ul>
  <% end %>
<% end %>

</div>
